<%
const mod = `${module}/${portal}`;
%>

<div class="page">

  <div class="page-content">

    <div class="full-image">
      <img src="<%- mod%>/images/gs-3.1.jpg" alt=""/>
     </div>

    <div class="page-section"  id="iondv-com">
      <div class="container">
        <h1 class="page-title text-orange">
          Get It Free Demo Application: iondv.com
        </h1>
        <p>
          <strong>App iondv.com</strong> - is the project you see right now, because we have created our website on the IONDV. Framework basis. 
          We have used two main modules, our idea and IONDV. Framework to show you one of the ways that you can use the Framework in your work.
          Moreover, we have implemented in this site the demo version of the IONDV. Framework Studio 
          to illustrate you the work with metadata - classes and attributes. You will find a short instruction by clicking 
          the HELP button in the upper right corner of the IONDV. Playground.
        </p>
        <h3>
          How to get?
        </h3>
        <p>
          Git <a href="https://github.com/iondv/iondv-com">github.com/iondv/iondv-com</a> - follow the instruction to deploy the app.
        </p>
        <p>
          Docker <a href="https://hub.docker.com/r/iondv/iondv-com">hub.docker.com/r/iondv/iondv-com</a> - follow the instruction to run the docker container.
        </p>

        <h4>
          Ask us
        </h4>
        <p>
          We hope you enjoy exploring our site from the inside with IONDV. Framework -
          this is a simple but illustrative example of what the framework is capable of. 
          We try to provide you with the opportunity to get applications in different ways so that you can find the one that fits you the best.<br>
        </p>
        <p>
          If you have any technical questions, ask them on <a href="https://stackoverflow.com/questions/tagged/iondv"> StackOverflow</a>.
        </p>
      </div>
    </div>
  </div>
</div>