<%
const mod = `${module}/${portal}`;
%>

<div class="page">
  <div class="page-content">

    <div class="full-image">
      <img src="<%- mod%>/images/gs-2.1.jpg" alt=""/>
     </div>

    <div class="page-section" id="dnt">
      <div class="container">
        <h1 class="page-title text-orange">
            Get It Free Demo Application: DNT
        </h1>
        <p>
          We have created this demo version of the <strong>Develop and test application</strong> to show you the type of metadata and  basic functional modules of the IONDV.
          Framework and to highlight the most powerful features created by our community. 
          It has some of the components from the full version to get you a walkthrough of our app development framework to build top quality web applications. 
        </p>
        <h3>
          How to get?
        </h3>
        <p>
          Go to <a href="https://dnt.iondv.com">dnt.iondv.com</a>. The login for access is - <code>demo</code> and the password is - <code>ion-demo</code>.
        </p>
        <p>
          Git <a href="https://github.com/iondv/develop-and-test">https://github.com/iondv/develop-and-test</a> - follow the instruction to deploy the app.
        </p>
        <p>
          Docker <a href="https://hub.docker.com/r/iondv/dnt">https://hub.docker.com/r/iondv/dnt</a> - follow the instruction to run the docker container.
        </p>
        <h4>
          Ask us
        </h4>
        <p>
         We hope you will like your first introduction to IONDV. Framework - 
        it is the perfect starting point for learning and building your app. 
        We try to provide you with the opportunity to get applications in different ways so that you can find the one that fits you the best. 
        Soon we will post other ways, to get the develop and test app.
        </p>
        <p>
        If you have any technical questions, ask them on <a href="https://stackoverflow.com/questions/tagged/iondv"> StackOverflow</a>.
        </p>
      </div>
    </div>


  </div>
</div>
