<%
const mod = `${module}/${portal}`;
%>
<div class="cookie-notify-panel notify-panel">
  <div class="notify-panel-head"></div>
  <div class="notify-panel-body">
    <p>
      Cookies help us improve our web content and deliver personalised content.
    </p><p>
      By using this web site, you must agree to our use of cookies.
    </p>
  </div>
  <div class="notify-panel-foot">
    <button class="btn btn-sm btn-default" data-agree>
      Agree
    </button>
    <a href="<%- module %>/cookie-agreement" class="btn-link btn btn-sm">
      Learn more...
    </a>
  </div>
</div>