<%
const mod = `${module}/${portal}`;
%>

<div class="container">

  <h1 class="page-title text-black mb40">
    Why IONDV. Framework?
  </h1>
  <!--h3 class="page-subtitle">
    Some sub title
  </h3-->

  <div class="icon-tabs tabs mt30">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#opensource" role="tab" data-toggle="tab">
          <!--i class="fas fa-code"></i-->
          <i class="far fa-share-square"></i>
        </a>
      </li>
      <li role="presentation">
        <a href="#metadata" role="tab" data-toggle="tab">
          <i class="far fa-file-code"></i>
        </a>
      </li>
      <li role="presentation">
        <a href="#modules" role="tab" data-toggle="tab">
          <i class="fas fa-puzzle-piece"></i>
        </a>
      </li>
      <li role="presentation">
        <a href="#devops" role="tab" data-toggle="tab">
          <i class="far fa-clock"></i>
        </a>
      </li>
      <li role="presentation">
        <a href="#rapid" role="tab" data-toggle="tab">
          <i class="fas fa-feather-alt"></i>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="opensource">
        <h3 class="text-left mb30">
          Open source & JavaScript
        </h3>
        <p>The Open Source IONDV. Framework gives you a great range of possibilities to develop your idea and build your
        new project. JavaScript syntax is easy and extremely flexible for you to have plenty of time to play around with
        IONDV. Framework.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="metadata">
        <h3 class="text-left mb30">
          Human-readable JSON & YAML metadata files
        </h3>
        <p>We use the JSON (JavaScript Object Notation) and YAML (YAML Ain't Markup Language) which is light-weighted
          designed such that humans can easily read
          data interchange and its execution. It doesn’t require much effort from you to use it in our IONDV. Framework.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="modules">
        <h3 class="text-left mb30">
          Ready-to-use modules
        </h3>
        <p>We provide ready-made modules of additional functionality, such as the Dashboard or Gantt Chart. They allow
          you to diversify and personalize your application created on the IONDV. Framework basis.</p>

        <!--
        Rules to connecting the modules
        Visualisation of Data
        Highly Scalable
        One Framework - Many Products--->

      </div>
      <div role="tabpanel" class="tab-pane" id="devops">
        <h3 class="text-left mb30">
          DevOps & Docker easy build
        </h3>
        <p>We use lightweight Docker containers to deploy applications and DevOps methodology to shorten the project
          development life cycle. Configure project dependencies, build scripts, database and application server
          without any troubles.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="rapid">
        <h3 class="text-left mb30">
          Rapid, Small & Productive
        </h3>
        <p>IONDV. Framework is not demanding to your computer resources, its structure is transparent what makes it
          productive and fast. You have unlimited choices to build solid enterprise applications with a clear IONDV. Framework.</p>
      </div>
    </div>
  </div>

</div>