<%
const mod = `${module}/${portal}`;
%>

<div id="page-try" class="page page-try">
  <div class="page-section">
    <div class="container">

      <h2 class="section-title mt40">
        Try IONDV. Framework
      </h2>

      <p>
        Explore our Playground - the IONDV. Framework demo studio to create your first application directly in the browser. 
      </p>

<ul>
    <li>Change pre-installed classes and attributes or click plus button to create a new application of your own.</li>
        <li>Click the play button to export the ready app, and you will see how it all looks like in the user view.</li>
            <li>Or download the zip archive file to work with metafiles locally.</li>
            <li>While playing in this sandbox, please read the help message to become more confident in use.</li>
             
</ul> 
    

      <p> 
      Go and get free demo applications to see what IONDV. Framework is capable of -  <a href="/portal/get-it"><strong>Get it Free</strong></a>.
      </p>

      <%- partial('../studio/main') %>

    </div>
  </div>
</div>