<%
const mod = `${module}/${portal}`;
%>

<div class="article-share">
  <span class="article-share-title">Share</span>
  <a href="#" target="_blank">
    <span class="fa fa-facebook-official"></span>
  </a>
  <a href="#" target="_blank">
    <span class="fa fa-twitter-square"></span>
  </a>
  <a href="#" target="_blank">
    <span class="fa fa-vk"></span>
  </a>
</div>